 <div class="blog-heading small">Follow this blog</div>
               <div class="social-icons">
                  <a href="#"><img src="images/fb-icon.png" /></a>
                  <a href="#"><img src="images/twitter-icon.png" /></a>
                  <a href="#"><img src="images/instagram-icon.png" /></a>
               </div>